<%- include("partials/header") -%>

<main>
    <div class="container">
        <h1>Sobre</h1>
        <p>Projeto desenvolvido como um desafio no curso Web Development Bootcamp by Angela Yu.</p>
    </div>
</main>

<%- include("partials/footer") -%>