<%- include("partials/header") -%>

<main class="post-entry">
    <div class="container">
        <div class="row">
            <div class="entry">
                <h2><%= renderPost.newPostTitle %></h2>
                <div class="content">
                    <%= renderPost.newPostContent %>
                </div>
            </div>
        </div>
    </div>    
</main>

<%- include("partials/footer") -%>