<%- include("partials/header") -%>

<main class="post-entry">
    <div class="container">
        <div class="entry">
            <h2><%= renderPost.title %></h2>
            <div class="content">
                <%= renderPost.content %>
            </div>
        </div>
    </div>    
</main>

<%- include("partials/footer") -%>